<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>

      <h1><%= thisDay %></h1>

      <ul>

        <% for(var x = 0; x < newItemList.length; x++){ %>
          <li><%= newItemList[x] %></li>
        <% } %>

      </ul>

      <form class="" action="/" method="post">
        <input type="text" name="newTaskInput" placeholder="Task">
        <button type="submit" name="Add task">Add task</button>

      </form>


  </body>
</html>
